<header>
  <nav class="nav">
    <img class="logo" src="shared/logo.svg" alt="" />
    <button class="nav__toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <hr class="nav__line hr-hidden" />
    <ul class="nav__list" [class.open]="isMenuOpen">
      <li>
        <a
          class="nav__link nav-text"
          routerLink="/"
          [routerLinkActive]="['router-link-active']"
          [routerLinkActiveOptions]="{ exact: true }"
          ><span class="bold">00</span> HOME</a
        >
      </li>
      <li>
        <a
          class="nav__link nav-text"
          routerLink="/destination"
          [routerLinkActive]="['router-link-active']"
          ><span class="bold">01</span> DESTINATION</a
        >
      </li>
      <li>
        <a
          class="nav__link nav-text"
          routerLink="/crew"
          [routerLinkActive]="['router-link-active']"
          ><span class="bold">02</span> CREW</a
        >
      </li>
      <li>
        <a
          class="nav__link nav-text"
          routerLink="/technology"
          [routerLinkActive]="['router-link-active']"
          ><span class="bold">03</span> TECHNOLOGY</a
        >
      </li>
    </ul>
  </nav>
</header>
