/* You can add global styles to this file, and also import other style files */
@import "reset";
@import "variables";
// variables
body {
  font-family: var(--font-family-barlow);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-400);

  @media (max-width: 768px) {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .hr-hidden {
    display: none;
  }
}

p {
  color: var(--light-blue);
}
