<div class="hero">
  <!-- need to change later :)-->
  <app-header></app-header>
  <section class="hero__content">
    <p class="heading-xs">SO YOU WANT TO TRAVEL TO</p>
    <h1 class="heading-xl" style="color: var(--white)">SPACE</h1>
    <P
      >Let’s face it; if you want to go to space, you might as well genuinely go
      to outer space and not hover kind of on the edge of it. Well sit back, and
      relax because we’ll give you a truly out of this world experience!</P
    >
    <div>
      <button class="hero__explore heading-s">EXPLORE</button>
    </div>
  </section>
</div>
