.hero {
  background-image: url("/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 376px) {
    background-image: url("/home/background-home-tablet.jpg");
  }

  @media (min-width: 769px) {
    background-image: url("/home/background-home-desktop.jpg");
  }
}
